body {
    max-width: 960px;
    margin: 0 auto;
    background-color: #87754E;
}
nav {
    background-color: #A97973;
}
h1, h2, h3, p, img{
    font-family: 'Fira Sans', sans-serif;
    color: #FFF3F2;
    padding: 5px 10px 5px 15px;
}
h2 {
    margin: 0;
}
p {
    margin-top: 5px;
}
main {
    background-color: #7e5e59;
    border-radius: 25px;
    color: #FFF3F2;
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    display: block;
    font-family: 'PT Serif', serif;
}
header, footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #5F3D3A;
    border-radius: 25px;
}
header {
    margin-top: 10px;
}
a {
    color: #EEE5E9;
    text-decoration: none;
}
header ul {
    grid-column: 2/4;
    background-color: #805750;
    display: flex;
}
header li:hover {
    background-color: #87754E;
    color: #FFF3F2;
    border-radius: 25px;
}
footer li:hover {
    background-color: #87754E;
    border-radius: 25px;
}
header h1 {
    display: flex;
    margin-left: 10px;
    grid-row: 1;
}
nav {
    display: flex;
    margin: 15px;
    grid-column: 2/4;
    grid-row: 1;
    justify-self: center;

}
footer ul {
    justify-self: right;
    grid-column: 3/4;
}
.listlinks {
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
li {
    list-style-type: none;
    padding: 5px;
    position: center;
}
.copyright {
    display: flex;
    padding-left: 10px;
    align-items: center;
    font-size: 25px;
    grid-column: 1/3;
    color: #EEE5E9;
}
.wireframes img {
    width: 300px;
    height: auto;
}
/* Home */
.tips {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tips img {
    grid-column: 2;
    width: 500px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 25px;
}
.list {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    padding: 0;
}
.purpose p {
    margin-top: 5px;
}
/* Visibility and Clarity */
.cleangrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cleanpic {
    display: flex;
    margin-top: 5px;
    margin-right: 5px;
    justify-content: center;
}
/* Clean Coding */
/* Organization and Flow */
