body {
    max-width: 960px;
    margin: 0 auto;
    background-color: #87754E;
}
nav {
    background-color: #A97973;
}
h1 {
    font-family: 'Fira Sans', sans-serif;
    color: #FFF3F2;
}
h2, h3, p {
    font-family: 'Fira Sans', sans-serif;
    padding: 15px;
}
h2 {
    margin: 0;
}
main {
    background-color: #7e5e59;
    border-radius: 25px;
    color: #FFF3F2;
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    display: block;
    font-family: 'PT Serif', serif;
    color: #EEE5E9;
    text-decoration: none;
}
header, footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #5F3D3A;
    border-radius: 25px;
}
header {
    margin-top: 15px;
}
header ul {
    background-color: #805750;
}
header li:hover {
    background-color: #87754E;
    color: #FFF3F2;
    border-radius: 25px;
}
img {
    margin: 15px;
    border-radius: 25px;
}
footer {
    margin-bottom: 15px;
}
footer li:hover {
    background-color: #87754E;
    border-radius: 25px;
}
header h1 {
    margin-left: 15px;
}
nav {
    margin: 15px;
    grid-column: 2/4;
    justify-self: center;

}
.listlinks {
    padding: 10px;
    margin: 5px;
    display: flex;
}
li {
    list-style-type: none;
    padding: 5px;
}
.copyright {
    display: flex;
    padding: 15px;
    align-items: center;
    font-size: 25px;
    grid-column: 1/3;
    color: #EEE5E9;
}
.wireframes img {
    width: 300px;
    height: auto;
}
/* Home */
.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.listimg {
    transition: all 1s;
}
.listimg:hover{
    transform: translate(-28%, 30%) scale(1.5, 1.5 );
    width: 600px;
    height: auto;
}
.list {
    padding: 15px;
}
.purpose {
    text-align: center;
}
.purpose p {
    margin-top: 5px;
}
form {
    transition: all 1s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 0;
    background-color: #5F3D3A;
    padding: 10px;
    border-radius: 25px;
}
.news {
    grid-column: 1/3;
    justify-self: center;
}
form:hover {
    opacity: 1;
    transform: translate(0, -100%) scale(2, 2);
}
label {
    grid-column: 1;
    justify-self: center;
}
input {
    margin: 5px;
}
.submit {
    grid-column: 1/3;
    justify-self: center;
}
/* Visibility and Clarity */
.visibility {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.vispic {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.vispic:hover {
    transform: translate(-50%, 0) scale(1.5, 1.5 );
    width: 300px;
    height: auto;
}
.vispic2 {
    display: flex;
    justify-content: center;
    transition: all 1s;
}
.vispic2:hover {
    transform: translate(-50%, -25%) scale(1.5, 1.5 );
    width: 300px;
    height: auto;
}
/* Clean Coding */
.cleangrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.cleanpic1 {
    display: flex;
    margin: 5px;
    justify-content: center;
    transition: all 1s;
}
.cleanpic1:hover {
    transform: translate(50%, 25%) scale(1.5, 1.5 );
}
.cleanpic2 {
    display: flex;
    margin: 5px;
    justify-content: center;
    transition: all 1s;
}
.cleanpic2:hover {
    transform: translate(-30%, -30%) scale(1.5, 1.5 );
}
/* Organization and Flow */
.organizegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.wireframepics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}