body {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Outfit, sans-serif;
    letter-spacing: 0.03em;
  }
picture {
    position: relative;
}
img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
h1 {
    text-align: center;
    margin: 5px;
}
p {
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 0;
}
.card {
    position: relative;
    width: 400px;
    background-color: teal;
    border-radius: 25px;
    box-shadow: 15px 10px 25px grey;
}
.heart {
    position: absolute;
    background-color: red;
    color: white;
    border: none;
    border-radius: 25px;
    top: 24px;
    left: 325px;
    padding: 5px;
}
button:hover {
    transform: scale(1.5, 1.5 );
    transition: all 0.25s ease-out 0.25s;
}
h2 {
    position: relative;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.details {
    background-color: teal;
    border-radius: 25px;
    background-color: aliceblue;
    margin-bottom: 5px;
    padding: 5px;
    grid-column: 2;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}
.details:hover {
    transform: scale(1.5, 1.5 );
    transition: all .5s ease-out;
}
h2 {
    grid-column: 1;
    padding-left: 10px;
}
