body {
    justify-content: center;
}
    
form {
    display: grid;
    padding: 10px;
    color:blueviolet;
    background-color: cornsilk;
    justify-items: center;
    width: 500px;
    grid-template-columns: 1fr 1fr;

}
li {
    list-style-type: none;
    padding: 5px;
}
textarea {
    width: 400px;
    height: 150px;
}
input {
    background-color: darkgray;
    border-radius: 25px;
    width: 150px;
    padding: 5px;
    margin-left: 5px;
    grid-column: 2;
}
label {
    padding: 5px;
    grid-column: 1;
}